langchain
torch
accelerate
#bitsandbytes
transformers
sentence_transformers
streamlit
streamlit_chat
faiss-cpu
tiktoken
huggingface-hub
python-dotenv

streamlit
streamlit-chat
langchain
langchain-community
sentence-transformers
pypdf
faiss-cpu
python-dotenv