streamlit==1.35.0
langchain==0.2.1
langchain-community==0.2.1
langchain-huggingface==0.0.3
langchain-core==0.2.3
faiss-cpu==1.8.0
pypdf==4.2.0
python-dotenv==1.0.1
llama-cpp-python==0.2.77
huggingface-hub==0.23.2
